<a href="https://colab.research.google.com/github/karoldem/Eat-the-rich/blob/main/Eat_the_rich.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
from pandas import read_csv, merge

q3 = read_csv('https://raw.githubusercontent.com/karoldem/Eat-the-rich/main/ilc_di01_page_linear.csv')
avg = read_csv('https://raw.githubusercontent.com/karoldem/Eat-the-rich/main/nama_10_fte__custom_4232263_page_linear.csv')

q3  =  q3.loc [   q3['TIME_PERIOD'] == 2021   ]
q3  =      q3 [   ['geo', 'OBS_VALUE']        ]
avg =     avg [   ['geo', 'OBS_VALUE']        ]

q3 = q3.astype({"geo":'string', "OBS_VALUE":'int64'})
avg = avg.astype({"geo":'string', "OBS_VALUE":'int64'})


df = merge(   q3,   avg,   on='geo',   how='inner',   suffixes=( '_q3', '_avg' )   ).rename(columns={'OBS_VALUE_q3':'q3', 'OBS_VALUE_avg':'avg'})
#df.loc[(df.q3 * df.avg).sort_values().index]
df['q3/avg'] = df.apply(lambda row: row.q3/row.avg, axis = 1)
df.sort_values('q3/avg')

          geo     q3    avg    q3/avg
23         RO   7227  13000  0.555923
17         LT  14161  21741  0.651350
6          DK  42356  63261  0.669544
26         SK  10828  16162  0.669967
1          BE  33350  48722  0.684496
13         HR  11168  16169  0.690704
25         SI  19950  28765  0.693551
14         HU   8872  12618  0.703123
24         SE  33957  46934  0.723505
19         LV  13919  18707  0.744053
0          AT  36118  48317  0.747522
2          BG   7763  10345  0.750411
10  EU27_2020  25285  33511  0.754528
12         FR  30451  40135  0.758714
15         IE  38267  50347  0.760065
21         PL  11100  14431  0.769177
4          CZ  13992  18189  0.769256
8          EL  12308  15879  0.775112
11         FI  33589  43193  0.777649
5          DE  35088  44404  0.790199
22         PT  15778  19301  0.817471
9          ES  23213  28184  0.823623
18         LU  59708  72247  0.826443
16         IT  25104  29951  0.838169
7          EE  18082  21481  0.841767
20         MT  24292  27334  0.888710
3          CY  22972  22734  1.010469